.show-container{
  position: relative;
  min-width: calc(100vh - 120px);
  min-height: calc(100vh - 120px);
}

@media screen and (max-width: 768px){
  .show-container{
    min-width: 100vw;
    min-height: 100vw;
  }
}

.show-help{
  background: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(4px); */
  color: #fff;

  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;

  box-sizing: border-box;
  padding: 112px 120px 0 120px;

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.show-help.display-none {
  display: none;
}

.start-button-wrapper{
  width: 115px;
  height: 60px;
  margin: 160px auto 0;

  overflow: hidden;
}

.start-button{
  /* width: 115px;
  height: 60px;
  margin: 160px auto 0; */
  width: 100%;
  height: 100%;

  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  /* overflow: hidden; */

  border-radius: 50%;
  border: 1px solid;
  box-sizing: border-box;
}

@media screen and (max-width: 768px){
  .show-help{
    padding: 112px 40px 0 40px;
  }
}
