.title-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  box-sizing: border-box;
  width: 100vw;
}

.title-container{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title{
  position: absolute;
  top: 50%;
  transform-origin: 0 0;
  font-weight: 700;
  font-size: 160px;
  line-height: 201px;
}

.title-container svg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;

  mask-image: radial-gradient(closest-side, rgba(0,0,0,0.7), rgba(0,0,0,0));
  mask-repeat: no-repeat;
  -webkit-mask-image: radial-gradient(closest-side, rgba(0,0,0,0.7), rgba(0,0,0,0));
  -webkit-mask-repeat: no-repeat,
}

.title-init-enter{
  height: 100vh;
  border-bottom: none;
}
.title-init-enter .title{
  transform: translate(-50%, -50%);
  left: 50%;
}
.title-init-enter svg{
  display: initial;
}

.title-init-exit{
  height: 60px;
  border-bottom: 1px solid;
}
.title-init-exit .title{
  transform: scale(0.15) translate(0%, -50%);
  left: 40px;
}
.title-init-exit svg{
  display: none;
}

.title-enter{
  height: 60px;
  border-bottom: 1px solid;
}
.title-enter .title{
  transform: scale(0.15) translate(0%, -50%);
  left: 40px;
}
.title-enter svg{
  display: none;
}

.title-enter-active{
  height: 100vh;
  border-bottom: 1px solid;
  transition: all 300ms;
}
.title-enter-active .title{
  transform: translate(-50%, -50%);
  left: 50%;
  transition: all 300ms;
}
.title-enter-active svg{
  display: none;
}

.title-enter-done{
  height: 100vh;
  border-bottom: none;
}
.title-enter-done .title{
  transform: translate(-50%, -50%);
  left: 50%;
}
.title-enter-done svg{
  display: initial;
}

.title-exit{
  height: 100vh;
  border-bottom: 1px solid;
}
.title-exit .title{
  transform: translate(-50%, -50%);
  left: 50%;
}
.title-exit svg{
  display: none;
}

.title-exit-active{
  height: 60px;
  border-bottom: 1px solid;
  transition: all 300ms;
}
.title-exit-active .title{
  transform: scale(0.15) translate(0%, -50%);
  left: 40px;
  transition: all 300ms;
}
.title-exit-active svg{
  display: none;
}

.title-exit-done{
  height: 60px;
  border-bottom: 1px solid;
}
.title-exit-done .title{
  transform: scale(0.15) translate(0%, -50%);
  left: 40px;
}
.title-exit-done svg{
  display: none;
}
