.title-wrapper{
  position: absolute;

  top: 0;
  left: 0;
  z-index: 1;

  width: 100vw;
  height: 100vh;
}

.title{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 200px;
  font-weight: 700;
}

.title svg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.test-enter{
  height: 80px;
}

.test-enter-active{
  height: 100vh;
  transition: all 300ms;
}

.test-enter-done{
  height: 100vh;
}

.test-exit{
  height: 100vh;
}

.test-exit-active{
  height: 80px;
  transition: all 300ms;
}

.test-exit-done{
  height: 80px;
}
