.content-wrapper{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 60px 0;
  box-sizing: border-box;
}

.content{
  width: 100%;
  height: 100%;

  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  display: flex;
}

.content::-webkit-scrollbar{
  display: none;
}

@media screen and (max-width: 768px){
  .content{
    flex-direction: column;
  }
}

.content-enter{
    display: none;
}

.content-enter-active{
  display: none;
}

.content-enter-done{
  display: initial;
}

.content-exit{
  display: initial;
}

.content-exit-active{
  display: none;
}

.content-exit-done{
  display: none;
}
