@import url(http://fonts.googleapis.com/css?family=Orbitron:400,700);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Orbitron', sans-serif;
}
