.slider-wrapper{
  width: 100%;
  /* height: 100%; */
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.slider-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-item{
  font-size: 120px;
  line-height: 150px;
  margin: 0 80px;
  transition: all 0.3s;
  white-space: nowrap;
  cursor: pointer;
}

.slide-item:hover{
  font-size: 140px;
  line-height: 176px;
}

.border-bg{
  position: absolute;
  z-index: -1;
  bottom: 0;
  width:100%;
}

/* opacity 관련 class들 */
.slider-opacity-init-enter{
  opacity: 1;
}

.slider-opacity-init-exit{
  opacity: 0;
}

.slider-opacity-enter{
  opacity: 0;
}

.slider-opacity-enter-active{
  opacity: 1;
  transition: all 500ms;
}

.slider-opacity-enter-done{
  opacity: 1;
}

.slider-opacity-exit{
  opacity: 1;
}

.slider-opacity-exit-active{
  opacity: 0;
  transition: all 500ms;
}

.slider-opacity-exit-done{
  opacity: 0;
}

/* 크기 관련 class들 */
.slider-size-init-enter{
  height: calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  height: -o-calc(100% - 60px);
  border-top: none;
}
.slider-size-init-enter .slider{
  transform: translate(0, -30px);
}
.slider-size-init-enter .slide-item{
  font-weight: 700;
}

.slider-size-init-exit{
  height: 60px;
  border-top: 1px solid;
}
.slider-size-init-exit .slider{
  transform: scale(0.17);
}
.slider-size-init-exit .slide-item{
  font-weight: 400;
}

.slider-size-enter{
  height: 60px;
  border-top: 1px solid;
}
.slider-size-enter .slider{
  transform: scale(0.17);
}
.slider-size-enter .slide-item{
  font-weight: 400;
}

.slider-size-enter-active{
  height: calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  height: -o-calc(100% - 60px);
  border-top: 1px solid;
  transition: all 500ms;
}
.slider-size-enter-active .slider{
  transform: translate(0, -30px);
  transition: all 500ms;
}
.slider-size-enter-active .slide-item{
  font-weight: 700;
  transition: all 500ms;
}

.slider-size-enter-done{
  height: calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  height: -o-calc(100% - 60px);
  border-top: none;
}
.slider-size-enter-done .slider{
  transform: translate(0, -30px);
}
.slider-size-enter-done .slide-item{
  font-weight: 700;
}

.slider-size-exit{
  height: calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  height: -o-calc(100% - 60px);
  border-top: none;
}
.slider-size-exit .slider{
  transform: translate(0, -30px);
}
.slider-size-exit .slide-item{
  font-weight: 700;
}

.slider-size-exit-active{
  height:60px;
  border-top: 1px solid;
  transition: all 500ms;
}
.slider-size-exit-active .slider{
  transform: scale(0.17);
  transition: all 500ms;
}
.slider-size-exit-active .slide-item{
  font-weight: 400;
  transition: all 500ms;
}

.slider-size-exit-done{
  height:60px;
  border-top: 1px solid;
}
.slider-size-exit-done .slider{
  transform: scale(0.17);
}
.slider-size-exit-done .slide-item{
  font-weight: 400;
}
